.modalContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 1;
}

.modal{
    width: 460px;
    height: 448px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 50px auto;
  
   position: absolute;
   z-index: 2;
   left:500px;
   

}

.modal input{
width: 300px;
padding: 8px;
text-align: right;
background-color: #f2f2f2;
border: none;
border-radius: 8px;

}

.modal p{
 text-align:right ;
}

.modal button{
 
    background-color: #dfdfdf;

    width: 120px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 20px;
    
}
/* .modal_active{
background-color: #55a3f0;
    color: white;
} */
.createData{
    background-color: #55a3f0 !important;
    color: white;
    /* appearance: none; */
}