.modalContaine{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 1;
}





.delete{
    width:330px ;
    height: 300px;
   
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 50px auto;
  
   position: absolute;
   z-index: 2;
   left:550px;
   
}

.delete img{
    width: 54px;
    height: 54px;
    margin-bottom: 30px;
}

.delete button{
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    gap: 10px;
    margin: 10px;
   
}
.deletedButton{
    background-color: #f43f5e;
    color: white;

}