
.paginate{
    width: 400px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    margin:  auto; 
    text-align: center; 
    margin-bottom: 100px;
    
}


.paginate button{
    background-color:#55a3f0;
    color: white;
    border-radius: 50px;
    width: 80px;
    border: none;
    padding: 10px 5px;
    font-size: 1rem;
    cursor: pointer;
}

.paginate span{
    border: 1px solid #55a3f0;
    width: 25px;
    text-align: center;
    border-radius: 5px;
}

.disable{
    opacity: 0.3;
}
.selected{
    background-color: #55a3f0;
    color :white;
}