

.registerTitle{
    text-align: center;
    font-size: 2rem;
}


.register{
    width: 460px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 0 auto;
    background-color: white;
   
   
}

.registerForm{
   text-align: center;
}

.register img{
   width: 70px;
   height: 70px;
   display: block;
   margin: 0 auto;

   
}
.register input{
    display: block;
    text-align: right;
    width: 300px;
    padding: 8px;
    margin: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
}
.register button{
    margin: 0 auto;
    width: 300px;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #55a3f0;
    cursor: pointer;
}
.register p{
    text-align: right;
    color: #55a3f0;
    cursor: pointer;
}

.disabled{

    background-color: rgb(6, 4, 4);
    border-radius: 50px;
}